In [1]:
from IPython.display import display
import pandas as pd

from akeneo import AkeneoClient, create_client_from_env
from config import data_dir

In [2]:
client: AkeneoClient = create_client_from_env()

In [3]:
routes = pd.DataFrame(client.get_routes())
routes[routes["method"] == "GET"].sort_values(["is_list", "id"], ascending=[False, True])

,id,path,method,path_vars,is_list
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[],True
34,pim_api_association_type_list,/api/rest/v1/association-types,GET,[],True
19,pim_api_attribute_group_list,/api/rest/v1/attribute-groups,GET,[],True
9,pim_api_attribute_list,/api/rest/v1/attributes,GET,[],True
14,pim_api_attribute_option_list,/api/rest/v1/attributes/{attributeCode}/options,GET,[attributeCode],True
44,pim_api_category_list,/api/rest/v1/categories,GET,[],True
2,pim_api_channel_list,/api/rest/v1/channels,GET,[],True
7,pim_api_currency_list,/api/rest/v1/currencies,GET,[],True
24,pim_api_family_list,/api/rest/v1/families,GET,[],True
29,pim_api_family_variant_list,/api/rest/v1/families/{familyCode}/variants,GET,[familyCode],True
0,pim_api_locale_list,/api/rest/v1/locales,GET,[],True
55,pim_api_media_file_list,/api/rest/v1/media-files,GET,[],True
49,pim_api_product_list,/api/rest/v1/products,GET,[],True
39,pim_api_product_model_list,/api/rest/v1/product-models,GET,[],True
60,legacy_pim_api_measure_family_get,/api/rest/v1/measure-families/{code},GET,[code],False
35,pim_api_association_type_get,/api/rest/v1/association-types/{code},GET,[code],False
12,pim_api_attribute_get,/api/rest/v1/attributes/{code},GET,[code],False
21,pim_api_attribute_group_get,/api/rest/v1/attribute-groups/{code},GET,[code],False
18,pim_api_attribute_option_get,/api/rest/v1/attributes/{attributeCode}/option...,GET,"[attributeCode, code]",False
45,pim_api_category_get,/api/rest/v1/categories/{code},GET,[code],False
3,pim_api_channel_get,/api/rest/v1/channels/{code},GET,[code],False
8,pim_api_currency_get,/api/rest/v1/currencies/{code},GET,[code],False
25,pim_api_family_get,/api/rest/v1/families/{code},GET,[code],False
30,pim_api_family_variant_get,/api/rest/v1/families/{familyCode}/variants/{c...,GET,"[familyCode, code]",False
1,pim_api_locale_get,/api/rest/v1/locales/{code},GET,[code],False
61,pim_api_measurement_family_get,/api/rest/v1/measurement-families,GET,[],False
56,pim_api_media_file_download,/api/rest/v1/media-files/{code}/download,GET,[code],False
57,pim_api_media_file_get,/api/rest/v1/media-files/{code},GET,[code],False
50,pim_api_product_get,/api/rest/v1/products/{code},GET,[code],False
40,pim_api_product_model_get,/api/rest/v1/product-models/{code},GET,[code],False

In [4]:
product = client.get("pim_api_product_get", {"code": "1111111171"})
pd.DataFrame([product])

,identifier,enabled,family,categories,groups,parent,values,created,updated,associations,quantified_associations
0,1111111171,True,accessories,"[master_accessories_bags, print_accessories, s...",[],None,"{'image': [{'locale': None, 'scope': None, 'da...",2022-01-04T20:55:42+00:00,2022-01-04T20:55:42+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

In [5]:
res_list = client.get_list("pim_api_attribute_list")
pd.DataFrame(res_list).head()

,code,type,group,unique,useable_as_grid_filter,allowed_extensions,metric_family,default_metric_unit,reference_data_name,available_locales,...,date_max,max_file_size,minimum_input_length,sort_order,localizable,scopable,labels,auto_option_sorting,default_value,group_labels
0,auto_exposure,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,39,False,False,"{'de_DE': 'Auto exposure', 'en_US': 'Auto expo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
1,auto_focus_assist_beam,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,34,False,False,"{'de_DE': 'Auto focus beam', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
2,auto_focus_lock,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,33,False,False,"{'de_DE': 'Auto focus lock', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
3,auto_focus_modes,pim_catalog_text,technical,False,True,[],None,None,None,[],...,None,None,None,31,True,False,"{'de_DE': 'Auto focus modes', 'en_US': 'Auto f...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
4,auto_focus_points,pim_catalog_number,technical,False,True,[],None,None,None,[],...,None,None,None,32,False,False,"{'de_DE': 'Auto focus points', 'en_US': 'Auto ...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."

In [6]:
lists_no_args = routes[routes["is_list"] & routes["path_vars"].isin([[]])]
lists_no_args

,id,path,method,path_vars,is_list
0,pim_api_locale_list,/api/rest/v1/locales,GET,[],True
2,pim_api_channel_list,/api/rest/v1/channels,GET,[],True
7,pim_api_currency_list,/api/rest/v1/currencies,GET,[],True
9,pim_api_attribute_list,/api/rest/v1/attributes,GET,[],True
19,pim_api_attribute_group_list,/api/rest/v1/attribute-groups,GET,[],True
24,pim_api_family_list,/api/rest/v1/families,GET,[],True
34,pim_api_association_type_list,/api/rest/v1/association-types,GET,[],True
39,pim_api_product_model_list,/api/rest/v1/product-models,GET,[],True
44,pim_api_category_list,/api/rest/v1/categories,GET,[],True
49,pim_api_product_list,/api/rest/v1/products,GET,[],True
55,pim_api_media_file_list,/api/rest/v1/media-files,GET,[],True
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[],True

In [7]:
csv_dir = data_dir / "0-akeneo-api"
csv_dir.mkdir(parents=True, exist_ok=True)

def print_and_safe_csv(name: str, data):
    df = pd.DataFrame(data)
    df.to_csv(csv_dir / f"{name}.csv", index=False)

    display(f"--- {name} -----------------------")
    display(df.head())

In [8]:
for _, row in lists_no_args[["id", "path"]].iterrows():
    route_id = row[0]
    name = str(row[1]).split("/")[-1]

    res = client.get_list(route_id)
    print_and_safe_csv(name, res)

    if name == "product-models":
        data = [{"code": entry["code"], **entry["values"]} for entry in res]
        print_and_safe_csv("product-models_values", data)
    elif name == "products":
        data = [{"identifier": entry["identifier"], **entry["values"]} for entry in res]
        print_and_safe_csv("products_values", data)

'--- locales -----------------------'

    code  enabled
0  af_ZA    False
1  am_ET    False
2  ar_AE    False
3  ar_BH    False
4  ar_DZ    False

'--- channels -----------------------'

,code,currencies,locales,category_tree,conversion_units,labels
0,ecommerce,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Ecommerce', 'de_DE': 'Ecommerce', '..."
1,mobile,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Mobile', 'de_DE': 'Mobil', 'fr_FR':..."
2,print,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Print', 'de_DE': 'Drucken', 'fr_FR'..."

'--- currencies -----------------------'

  code  enabled
0  ADP    False
1  AED    False
2  AFA    False
3  AFN    False
4  ALK    False

'--- attributes -----------------------'

,code,type,group,unique,useable_as_grid_filter,allowed_extensions,metric_family,default_metric_unit,reference_data_name,available_locales,...,date_max,max_file_size,minimum_input_length,sort_order,localizable,scopable,labels,auto_option_sorting,default_value,group_labels
0,auto_exposure,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,39,False,False,"{'de_DE': 'Auto exposure', 'en_US': 'Auto expo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
1,auto_focus_assist_beam,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,34,False,False,"{'de_DE': 'Auto focus beam', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
2,auto_focus_lock,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,33,False,False,"{'de_DE': 'Auto focus lock', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
3,auto_focus_modes,pim_catalog_text,technical,False,True,[],None,None,None,[],...,None,None,None,31,True,False,"{'de_DE': 'Auto focus modes', 'en_US': 'Auto f...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
4,auto_focus_points,pim_catalog_number,technical,False,True,[],None,None,None,[],...,None,None,None,32,False,False,"{'de_DE': 'Auto focus points', 'en_US': 'Auto ...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."

'--- attribute-groups -----------------------'

,code,sort_order,attributes,labels
0,color,8,"[main_color, secondary_color]","{'en_US': 'Color', 'fr_FR': 'Couleur', 'de_DE'..."
1,design,3,[tshirt_style],"{'en_US': 'Design', 'fr_FR': 'Style', 'de_DE':..."
2,ecommerce,6,"[meta_title, meta_description, keywords]","{'en_US': 'Ecommerce', 'fr_FR': 'Ecommerce', '..."
3,erp,1,"[sku, price, erp_name, ean, supplier]","{'en_US': 'ERP', 'fr_FR': 'ERP', 'de_DE': 'ERP'}"
4,manufacturing,6,"[container_material, tshirt_materials]","{'en_US': 'Manufacturing', 'fr_FR': 'Fabricati..."

'--- families -----------------------'

,code,attributes,attribute_as_label,attribute_as_image,attribute_requirements,labels
0,accessories,"[brand, collection, color, composition, descri...",name,image,"{'ecommerce': ['collection', 'description', 'e...","{'en_US': 'Accessories', 'fr_FR': 'Accessories..."
1,camcorders,"[description, image_stabilizer, name, optical_...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Camcorders', 'fr_FR': 'Caméscopes n..."
2,clothing,"[brand, care_instructions, collection, color, ...",variation_name,variation_image,"{'ecommerce': ['collection', 'color', 'descrip...","{'en_US': 'Clothing', 'fr_FR': 'Clothing', 'de..."
3,digital_cameras,"[auto_exposure, auto_focus_assist_beam, auto_f...",name,picture,"{'ecommerce': ['auto_exposure', 'auto_focus_as...","{'en_US': 'Digital cameras', 'fr_FR': 'Caméras..."
4,headphones,"[description, headphone_connectivity, name, pi...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Headphones', 'fr_FR': 'Casques audi..."

'--- association-types -----------------------'

,code,labels,is_two_way,is_quantified
0,PACK,"{'de_DE': 'Pack', 'en_US': 'Pack', 'fr_FR': 'P...",False,False
1,SUBSTITUTION,"{'de_DE': 'Ersatz', 'en_US': 'Substitution', '...",False,False
2,UPSELL,"{'en_US': 'Upsell', 'fr_FR': 'Vente incitative'}",False,False
3,X_SELL,"{'en_US': 'Cross sell', 'fr_FR': 'Vente croisée'}",False,False

'--- product-models -----------------------'

,code,family,family_variant,parent,categories,values,created,updated,associations,quantified_associations
0,amor,clothing,clothing_colorsize,None,"[master_men_blazers, supplier_zaro]","{'supplier': [{'locale': None, 'scope': None, ...",2022-01-04T20:55:34+00:00,2022-01-04T20:55:34+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1,brooksblue,shoes,shoes_size,None,[master_men_shoes],"{'color': [{'locale': None, 'scope': None, 'da...",2022-01-04T20:55:34+00:00,2022-01-04T20:55:34+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
2,brookspink,shoes,shoes_size,None,[master_women_shoes],"{'color': [{'locale': None, 'scope': None, 'da...",2022-01-04T20:55:34+00:00,2022-01-04T20:55:34+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
3,caelus,clothing,clothing_color_size,None,"[master_men_blazers_deals, supplier_mongo]","{'supplier': [{'locale': None, 'scope': None, ...",2022-01-04T20:55:34+00:00,2022-01-04T20:55:34+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
4,climbingshoe,shoes,shoes_size,None,"[master_men_shoes, print_shoes, supplier_abibas]","{'supplier': [{'locale': None, 'scope': None, ...",2022-01-04T20:55:34+00:00,2022-01-04T20:55:34+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

'--- product-models_values -----------------------'

,code,supplier,wash_temperature,collection,price,name,erp_name,description,color,variation_name,image,material,brand,meta_title,care_instructions,size,variation_image,composition
0,amor,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '800'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Heri...","[{'locale': 'en_US', 'scope': None, 'data': 'A...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,brooksblue,NaN,NaN,"[{'locale': None, 'scope': None, 'data': ['sum...",NaN,"[{'locale': None, 'scope': None, 'data': 'Broo...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'blue'}]","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,brookspink,NaN,NaN,"[{'locale': None, 'scope': None, 'data': ['sum...",NaN,"[{'locale': None, 'scope': None, 'data': 'Broo...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'pink'}]","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,caelus,"[{'locale': None, 'scope': None, 'data': 'mong...","[{'locale': None, 'scope': None, 'data': '600'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Tuxe...","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,climbingshoe,"[{'locale': None, 'scope': None, 'data': 'abib...",NaN,"[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'clim...","[{'locale': 'en_US', 'scope': None, 'data': 'C...",NaN,NaN,NaN,"[{'locale': None, 'scope': None, 'data': '3/2/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

'--- categories -----------------------'

,code,parent,labels
0,master,None,"{'en_US': 'Master catalog', 'de_DE': 'Hauptkat..."
1,tvs_projectors,master,"{'en_US': 'TVs and projectors', 'de_DE': 'TVs ..."
2,pc_monitors,tvs_projectors,"{'en_US': 'PC Monitors', 'de_DE': 'PC Monitore..."
3,led_tvs,tvs_projectors,"{'en_US': 'LED TVs', 'de_DE': 'TVs LED', 'fr_F..."
4,cameras,master,"{'en_US': 'Cameras', 'de_DE': 'Cameras', 'fr_F..."

'--- products -----------------------'

,identifier,enabled,family,categories,groups,parent,values,created,updated,associations,quantified_associations
0,1111111171,True,accessories,"[master_accessories_bags, print_accessories, s...",[],None,"{'image': [{'locale': None, 'scope': None, 'da...",2022-01-04T20:55:42+00:00,2022-01-04T20:55:42+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1,13620748,True,led_tvs,"[led_tvs, samsung, tvs_projectors_sales]",[],None,"{'name': [{'locale': None, 'scope': None, 'dat...",2022-01-04T20:55:42+00:00,2022-01-04T20:55:42+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
2,15554974,True,webcams,"[cameras_sales, logitech, webcams]",[],None,"{'maximum_video_resolution': [{'locale': None,...",2022-01-04T20:55:42+00:00,2022-01-04T20:55:42+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
3,12249740,True,scanners,"[avision, print_scan_sales, scanners]",[],None,"{'picture': [{'locale': None, 'scope': None, '...",2022-01-04T20:56:08+00:00,2022-01-04T20:56:08+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
4,1111111130,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_yellow,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-01-04T20:56:11+00:00,2022-01-04T20:56:11+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

'--- products_values -----------------------'

,identifier,image,ean,name,weight,display_diagonal,description,release_date,maximum_video_resolution,total_megapixels,...,power_requirements,eu_shoes_size,maximum_frame_rate,image_stabilizer,brand,material,meta_title,composition,care_instructions,main_color
0,1111111171,"[{'locale': None, 'scope': None, 'data': '1/d/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Bag'}]","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13620748,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Sams...",NaN,"[{'locale': None, 'scope': None, 'data': {'amo...","[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15554974,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Logi...",NaN,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...","[{'locale': None, 'scope': None, 'data': '640_...","[{'locale': None, 'scope': None, 'data': '5'}]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12249740,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Avis...",NaN,NaN,"[{'locale': 'de_DE', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1111111130,"[{'locale': None, 'scope': None, 'data': 'f/a/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'--- media-files -----------------------'

,code,original_filename,mime_type,size,extension
0,f/a/e/8/fae8628736b7206449a286b29656825a24d325...,apollon.jpg,image/jpeg,6144,jpg
1,a/e/2/b/ae2bf209ce5fed8eff5e4a3cb391688b1df295...,artemis.jpg,image/jpeg,5013,jpg
2,0/a/b/1/0ab1f7bd71946ddb7d5e355c3f8676d7ac7f26...,athena.jpg,image/jpeg,3069,jpg
3,4/9/5/6/49568e608d60612073b50820e43034adcb68ef...,bacchus.jpg,image/jpeg,8918,jpg
4,3/2/3/4/32346bf172424481d1d74a3b1a3bfc23fdaf22...,climbingshoe.jpg,image/jpeg,220576,jpg

'--- measure-families -----------------------'

,code,standard,units
0,Angle,RADIAN,"[{'code': 'RADIAN', 'convert': {'mul': '1'}, '..."
1,Area,SQUARE_METER,"[{'code': 'SQUARE_MILLIMETER', 'convert': {'mu..."
2,Binary,BYTE,"[{'code': 'CHAR', 'convert': {'mul': '8'}, 'sy..."
3,Brightness,LUMEN,"[{'code': 'LUMEN', 'convert': {'mul': '1'}, 's..."
4,Capacitance,FARAD,"[{'code': 'ATTOFARAD', 'convert': {'div': '100..."