# Exploring Akeneo-PIM Rest API

In [1]:
import shutil

from IPython.display import display
import pandas as pd

import akeneo
import config
import util

In [2]:
client = akeneo.create_client_from_env()

## Routes

Akeneo offers an unprotected endpoint that lists all available routes.

We are only interested in the GET routes for data retrieval.

In [3]:
routes = pd.DataFrame(client.get_routes())
routes[routes["method"] == "GET"].sort_values(["is_list", "path"], ascending=[False, True])

,id,path,method,path_vars,is_list
34,pim_api_association_type_list,/api/rest/v1/association-types,GET,[],True
19,pim_api_attribute_group_list,/api/rest/v1/attribute-groups,GET,[],True
9,pim_api_attribute_list,/api/rest/v1/attributes,GET,[],True
14,pim_api_attribute_option_list,/api/rest/v1/attributes/{attributeCode}/options,GET,[attributeCode],True
44,pim_api_category_list,/api/rest/v1/categories,GET,[],True
2,pim_api_channel_list,/api/rest/v1/channels,GET,[],True
7,pim_api_currency_list,/api/rest/v1/currencies,GET,[],True
24,pim_api_family_list,/api/rest/v1/families,GET,[],True
29,pim_api_family_variant_list,/api/rest/v1/families/{familyCode}/variants,GET,[familyCode],True
0,pim_api_locale_list,/api/rest/v1/locales,GET,[],True
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[],True
55,pim_api_media_file_list,/api/rest/v1/media-files,GET,[],True
39,pim_api_product_model_list,/api/rest/v1/product-models,GET,[],True
49,pim_api_product_list,/api/rest/v1/products,GET,[],True
35,pim_api_association_type_get,/api/rest/v1/association-types/{code},GET,[code],False
21,pim_api_attribute_group_get,/api/rest/v1/attribute-groups/{code},GET,[code],False
18,pim_api_attribute_option_get,/api/rest/v1/attributes/{attributeCode}/option...,GET,"[attributeCode, code]",False
12,pim_api_attribute_get,/api/rest/v1/attributes/{code},GET,[code],False
45,pim_api_category_get,/api/rest/v1/categories/{code},GET,[code],False
3,pim_api_channel_get,/api/rest/v1/channels/{code},GET,[code],False
8,pim_api_currency_get,/api/rest/v1/currencies/{code},GET,[code],False
25,pim_api_family_get,/api/rest/v1/families/{code},GET,[code],False
30,pim_api_family_variant_get,/api/rest/v1/families/{familyCode}/variants/{c...,GET,"[familyCode, code]",False
1,pim_api_locale_get,/api/rest/v1/locales/{code},GET,[code],False
60,legacy_pim_api_measure_family_get,/api/rest/v1/measure-families/{code},GET,[code],False
61,pim_api_measurement_family_get,/api/rest/v1/measurement-families,GET,[],False
57,pim_api_media_file_get,/api/rest/v1/media-files/{code},GET,[code],False
56,pim_api_media_file_download,/api/rest/v1/media-files/{code}/download,GET,[code],False
40,pim_api_product_model_get,/api/rest/v1/product-models/{code},GET,[code],False
50,pim_api_product_get,/api/rest/v1/products/{code},GET,[code],False

## Basic GET Access

Implemented method for accessing a GET route by its route id. Authorization is handled automatically in the background.

In [4]:
client.get("pim_api_category_list")

{'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories?page=1&limit=10&with_count=false'},
  'first': {'href': 'http://localhost:8080/api/rest/v1/categories?page=1&limit=10&with_count=false'},
  'next': {'href': 'http://localhost:8080/api/rest/v1/categories?page=2&limit=10&with_count=false'}},
 'current_page': 1,
 '_embedded': {'items': [{'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/master'}},
    'code': 'master',
    'parent': None,
    'labels': {'en_US': 'Master catalog',
     'de_DE': 'Hauptkatalog',
     'fr_FR': 'Catalogue principal'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/tvs_projectors'}},
    'code': 'tvs_projectors',
    'parent': 'master',
    'labels': {'en_US': 'TVs and projectors',
     'de_DE': 'TVs und projectoren',
     'fr_FR': 'Téléviseurs et projecteurs'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/pc_monitors'}},
    'code': 'pc_monitors',
    'parent': 'tvs_projectors',
    'labels': {'en_US': 'PC Monitors',
     'de_DE': 'PC Monitoren',
     'fr_FR': 'Moniteurs PC'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/led_tvs'}},
    'code': 'led_tvs',
    'parent': 'tvs_projectors',
    'labels': {'en_US': 'LED TVs',
     'de_DE': 'TVs LED',
     'fr_FR': 'Télévisions LED'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/cameras'}},
    'code': 'cameras',
    'parent': 'master',
    'labels': {'en_US': 'Cameras', 'de_DE': 'Cameras', 'fr_FR': 'Caméras'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/digital_cameras'}},
    'code': 'digital_cameras',
    'parent': 'cameras',
    'labels': {'en_US': 'Digital cameras',
     'de_DE': 'Digitale Kameras',
     'fr_FR': 'Caméras digitales'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/camcorders'}},
    'code': 'camcorders',
    'parent': 'cameras',
    'labels': {'en_US': 'Camcorders',
     'de_DE': 'Digitale Videokameras',
     'fr_FR': 'Caméscopes numériques'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/webcams'}},
    'code': 'webcams',
    'parent': 'cameras',
    'labels': {'en_US': 'Webcams', 'de_DE': 'Webcams', 'fr_FR': 'Webcams'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/audio_video'}},
    'code': 'audio_video',
    'parent': 'master',
    'labels': {'en_US': 'Audio and Video',
     'de_DE': 'Audio und Video',
     'fr_FR': 'Audio et Video'}},
   {'_links': {'self': {'href': 'http://localhost:8080/api/rest/v1/categories/headphones'}},
    'code': 'headphones',
    'parent': 'audio_video',
    'labels': {'en_US': 'Headphones',
     'de_DE': 'Kopfhörer',
     'fr_FR': 'Casques audio'}}]}}

## GET Lists

Akeneo offers several lists via the api. All of them have a similar structure and are paginated. Therefore, a `get_list` was implemented, which automatically queries the complete list

In [5]:
res_list = client.get_list("pim_api_category_list")
pd.DataFrame(res_list).head()

,code,parent,labels
0,master,None,"{'en_US': 'Master catalog', 'de_DE': 'Hauptkat..."
1,tvs_projectors,master,"{'en_US': 'TVs and projectors', 'de_DE': 'TVs ..."
2,pc_monitors,tvs_projectors,"{'en_US': 'PC Monitors', 'de_DE': 'PC Monitore..."
3,led_tvs,tvs_projectors,"{'en_US': 'LED TVs', 'de_DE': 'TVs LED', 'fr_F..."
4,cameras,master,"{'en_US': 'Cameras', 'de_DE': 'Cameras', 'fr_F..."

## Options

Some endpoints need special path variables that can be passed. Also, there are several GET parameters available to filter and search the data via Akeneo-PIM.

In [6]:
client.get("pim_api_category_get", {"code": "tvs_projectors"})

{'code': 'tvs_projectors',
 'parent': 'master',
 'labels': {'en_US': 'TVs and projectors',
  'de_DE': 'TVs und projectoren',
  'fr_FR': 'Téléviseurs et projecteurs'}}

In [7]:
params = {"search": '{"enabled":[{"operator":"=","value":true}]}'}
res_list = client.get_list("pim_api_locale_list", params=params)
pd.DataFrame(res_list)

    code  enabled
0  de_DE     True
1  en_US     True
2  fr_FR     True

## Query All Lists

Finally, all list endpoints are queried and the responses are stored in csv files. This should give an overview over all data types.

In [8]:
list_routes = routes[(routes["method"] == "GET") & (routes["is_list"] == True)].sort_values("path")
list_routes

,id,path,method,path_vars,is_list
34,pim_api_association_type_list,/api/rest/v1/association-types,GET,[],True
19,pim_api_attribute_group_list,/api/rest/v1/attribute-groups,GET,[],True
9,pim_api_attribute_list,/api/rest/v1/attributes,GET,[],True
14,pim_api_attribute_option_list,/api/rest/v1/attributes/{attributeCode}/options,GET,[attributeCode],True
44,pim_api_category_list,/api/rest/v1/categories,GET,[],True
2,pim_api_channel_list,/api/rest/v1/channels,GET,[],True
7,pim_api_currency_list,/api/rest/v1/currencies,GET,[],True
24,pim_api_family_list,/api/rest/v1/families,GET,[],True
29,pim_api_family_variant_list,/api/rest/v1/families/{familyCode}/variants,GET,[familyCode],True
0,pim_api_locale_list,/api/rest/v1/locales,GET,[],True
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[],True
55,pim_api_media_file_list,/api/rest/v1/media-files,GET,[],True
39,pim_api_product_model_list,/api/rest/v1/product-models,GET,[],True
49,pim_api_product_list,/api/rest/v1/products,GET,[],True

In [9]:
csv_dir = config.dir_data / "01-akeneo-api"
shutil.rmtree(csv_dir, ignore_errors=True)
csv_dir.mkdir(parents=True, exist_ok=True)

def print_and_safe_list(name: str, data: list[dict]):
    df = pd.DataFrame(data)
    df.to_csv(csv_dir / f"{name}.csv", index=False)
    print(f"--- {name} --------------------------------------")
    display(df.head())

### All Basic Lists

In [10]:
util.seed()

def get_print_and_safe(name: str, route_id: str, path_vars: dict = None):
    entries = client.get_list(route_id, path_vars)
    print_and_safe_list(name, entries)

for _, row in list_routes[["id", "path"]].iterrows():
    route_id = str(row["id"])
    name = str(row["path"]).split("/")[-1]

    if route_id == "pim_api_attribute_option_list":
        attr = client.get_list("pim_api_attribute_list")
        df = pd.DataFrame(attr)
        attr_selects = df[df["type"] == "pim_catalog_simpleselect"]
        indexes = util.random_int_set(3, 0, len(attr_selects) - 1)
        for index in indexes:
            attr_code = attr_selects.iloc[index]["code"]
            get_print_and_safe(f"attribute-options__{attr_code}", route_id, {"attributeCode": attr_code})
        continue

    if route_id == "pim_api_family_variant_list":
        families = client.get_list("pim_api_family_list")
        num_found = 0
        for family in families:
            fam_code = family["code"]
            if len(client.get_list(route_id, {"familyCode": fam_code})) > 0:
                get_print_and_safe(f"family-variants__{fam_code}", route_id, {"familyCode": fam_code})
                num_found += 1
            if num_found >= 3:
                break
        continue

    get_print_and_safe(name, route_id)

--- association-types --------------------------------------

,code,labels,is_two_way,is_quantified
0,PACK,"{'de_DE': 'Pack', 'en_US': 'Pack', 'fr_FR': 'P...",False,False
1,SUBSTITUTION,"{'de_DE': 'Ersatz', 'en_US': 'Substitution', '...",False,False
2,UPSELL,"{'en_US': 'Upsell', 'fr_FR': 'Vente incitative'}",False,False
3,X_SELL,"{'en_US': 'Cross sell', 'fr_FR': 'Vente croisée'}",False,False

--- attribute-groups --------------------------------------

,code,sort_order,attributes,labels
0,color,8,"[main_color, secondary_color]","{'en_US': 'Color', 'fr_FR': 'Couleur', 'de_DE'..."
1,design,3,[tshirt_style],"{'en_US': 'Design', 'fr_FR': 'Style', 'de_DE':..."
2,ecommerce,6,"[meta_title, meta_description, keywords]","{'en_US': 'Ecommerce', 'fr_FR': 'Ecommerce', '..."
3,erp,1,"[sku, price, erp_name, ean, supplier]","{'en_US': 'ERP', 'fr_FR': 'ERP', 'de_DE': 'ERP'}"
4,manufacturing,6,"[container_material, tshirt_materials]","{'en_US': 'Manufacturing', 'fr_FR': 'Fabricati..."

--- attributes --------------------------------------

,code,type,group,unique,useable_as_grid_filter,allowed_extensions,metric_family,default_metric_unit,reference_data_name,available_locales,...,date_max,max_file_size,minimum_input_length,sort_order,localizable,scopable,labels,auto_option_sorting,default_value,group_labels
0,auto_exposure,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,39,False,False,"{'de_DE': 'Auto exposure', 'en_US': 'Auto expo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
1,auto_focus_assist_beam,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,34,False,False,"{'de_DE': 'Auto focus beam', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
2,auto_focus_lock,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,33,False,False,"{'de_DE': 'Auto focus lock', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
3,auto_focus_modes,pim_catalog_text,technical,False,True,[],None,None,None,[],...,None,None,None,31,True,False,"{'de_DE': 'Auto focus modes', 'en_US': 'Auto f...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
4,auto_focus_points,pim_catalog_number,technical,False,True,[],None,None,None,[],...,None,None,None,32,False,False,"{'de_DE': 'Auto focus points', 'en_US': 'Auto ...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."

--- attribute-options__camera_brand --------------------------------------

,code,attribute,sort_order,labels
0,canon_brand,camera_brand,1,"{'de_DE': 'Canon', 'en_US': 'Canon', 'fr_FR': ..."
1,nikon_brand,camera_brand,2,"{'de_DE': 'Nikon', 'en_US': 'Nikon', 'fr_FR': ..."

--- attribute-options__secondary_color --------------------------------------

,code,attribute,sort_order,labels
0,black,secondary_color,2,"{'de_DE': 'Schwarz', 'en_US': 'Black', 'fr_FR'..."
1,blue,secondary_color,8,"{'de_DE': 'Blau', 'en_US': 'Blue', 'fr_FR': 'B..."
2,green,secondary_color,7,"{'de_DE': 'Grün', 'en_US': 'Green', 'fr_FR': '..."
3,grey,secondary_color,3,"{'de_DE': 'Grau', 'en_US': 'Grey', 'fr_FR': 'G..."
4,orange,secondary_color,5,"{'de_DE': 'Orange', 'en_US': 'Orange', 'fr_FR'..."

--- attribute-options__sensor_type --------------------------------------

,code,attribute,sort_order,labels
0,ccd,sensor_type,1,"{'de_DE': 'CCD', 'en_US': 'CCD', 'fr_FR': 'CCD'}"
1,cmos,sensor_type,2,"{'de_DE': 'CMOS', 'en_US': 'CMOS', 'fr_FR': 'C..."

--- categories --------------------------------------

,code,parent,labels
0,master,None,"{'en_US': 'Master catalog', 'de_DE': 'Hauptkat..."
1,tvs_projectors,master,"{'en_US': 'TVs and projectors', 'de_DE': 'TVs ..."
2,pc_monitors,tvs_projectors,"{'en_US': 'PC Monitors', 'de_DE': 'PC Monitore..."
3,led_tvs,tvs_projectors,"{'en_US': 'LED TVs', 'de_DE': 'TVs LED', 'fr_F..."
4,cameras,master,"{'en_US': 'Cameras', 'de_DE': 'Cameras', 'fr_F..."

--- channels --------------------------------------

,code,currencies,locales,category_tree,conversion_units,labels
0,ecommerce,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Ecommerce', 'de_DE': 'Ecommerce', '..."
1,mobile,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Mobile', 'de_DE': 'Mobil', 'fr_FR':..."
2,print,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Print', 'de_DE': 'Drucken', 'fr_FR'..."

--- currencies --------------------------------------

  code  enabled
0  ADP    False
1  AED    False
2  AFA    False
3  AFN    False
4  ALK    False

--- families --------------------------------------

,code,attributes,attribute_as_label,attribute_as_image,attribute_requirements,labels
0,accessories,"[brand, collection, color, composition, descri...",name,image,"{'ecommerce': ['collection', 'description', 'e...","{'en_US': 'Accessories', 'fr_FR': 'Accessories..."
1,camcorders,"[description, image_stabilizer, name, optical_...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Camcorders', 'fr_FR': 'Caméscopes n..."
2,clothing,"[brand, care_instructions, collection, color, ...",variation_name,variation_image,"{'ecommerce': ['collection', 'color', 'descrip...","{'en_US': 'Clothing', 'fr_FR': 'Clothing', 'de..."
3,digital_cameras,"[auto_exposure, auto_focus_assist_beam, auto_f...",name,picture,"{'ecommerce': ['auto_exposure', 'auto_focus_as...","{'en_US': 'Digital cameras', 'fr_FR': 'Caméras..."
4,headphones,"[description, headphone_connectivity, name, pi...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Headphones', 'fr_FR': 'Casques audi..."

--- family-variants__accessories --------------------------------------

,code,labels,variant_attribute_sets
0,accessories_size,"{'de_DE': 'Accessories by size', 'en_US': 'Acc...","[{'level': 1, 'axes': ['size'], 'attributes': ..."

--- family-variants__clothing --------------------------------------

,code,labels,variant_attribute_sets
0,clothing_color,"{'de_DE': 'Kleidung nach Farbe', 'en_US': 'Clo...","[{'level': 1, 'axes': ['color'], 'attributes':..."
1,clothing_color_size,"{'de_DE': 'Kleidung nach Farbe und Größe', 'en...","[{'level': 1, 'axes': ['color'], 'attributes':..."
2,clothing_colorsize,"{'de_DE': 'Kleidung nach Farbe/Größe', 'en_US'...","[{'level': 1, 'axes': ['color', 'size'], 'attr..."
3,clothing_material_size,"{'de_DE': 'Clothing by material and size', 'en...","[{'level': 1, 'axes': ['material'], 'attribute..."
4,clothing_size,"{'de_DE': 'Kleidung nach Größe', 'en_US': 'Clo...","[{'level': 1, 'axes': ['size'], 'attributes': ..."

--- family-variants__led_tvs --------------------------------------

,code,labels,variant_attribute_sets
0,tv,"{'de_DE': 'LED TV', 'en_US': 'LED TV', 'fr_FR'...","[{'level': 1, 'axes': ['display_diagonal'], 'a..."

--- locales --------------------------------------

    code  enabled
0  af_ZA    False
1  am_ET    False
2  ar_AE    False
3  ar_BH    False
4  ar_DZ    False

--- measure-families --------------------------------------

,code,standard,units
0,Angle,RADIAN,"[{'code': 'RADIAN', 'convert': {'mul': '1'}, '..."
1,Area,SQUARE_METER,"[{'code': 'SQUARE_MILLIMETER', 'convert': {'mu..."
2,Binary,BYTE,"[{'code': 'CHAR', 'convert': {'mul': '8'}, 'sy..."
3,Brightness,LUMEN,"[{'code': 'LUMEN', 'convert': {'mul': '1'}, 's..."
4,Capacitance,FARAD,"[{'code': 'ATTOFARAD', 'convert': {'div': '100..."

--- media-files --------------------------------------

,code,original_filename,mime_type,size,extension
0,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,apollon.jpg,image/jpeg,6144,jpg
1,c/e/f/5/cef5e58cd116459bbe8a386818b2a0a8d803c1...,artemis.jpg,image/jpeg,5013,jpg
2,5/a/1/b/5a1b53eba28dcaf3db5dc52e7df061f411a3ce...,athena.jpg,image/jpeg,3069,jpg
3,d/c/e/7/dce7011d31fb79efaba79da809298314caab0b...,bacchus.jpg,image/jpeg,8918,jpg
4,b/0/2/9/b029d765f90b96e332eced7d9c86dde7d3d915...,climbingshoe.jpg,image/jpeg,220576,jpg

--- product-models --------------------------------------

,code,family,family_variant,parent,categories,values,created,updated,associations,quantified_associations
0,amor,clothing,clothing_colorsize,None,"[master_men_blazers, supplier_zaro]","{'supplier': [{'locale': None, 'scope': None, ...",2022-01-12T12:08:51+00:00,2022-01-12T12:08:51+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1,brooksblue,shoes,shoes_size,None,[master_men_shoes],"{'color': [{'locale': None, 'scope': None, 'da...",2022-01-12T12:08:51+00:00,2022-01-12T12:08:51+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
2,brookspink,shoes,shoes_size,None,[master_women_shoes],"{'color': [{'locale': None, 'scope': None, 'da...",2022-01-12T12:08:51+00:00,2022-01-12T12:08:51+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
3,caelus,clothing,clothing_color_size,None,"[master_men_blazers_deals, supplier_mongo]","{'supplier': [{'locale': None, 'scope': None, ...",2022-01-12T12:08:51+00:00,2022-01-12T12:08:51+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
4,climbingshoe,shoes,shoes_size,None,"[master_men_shoes, print_shoes, supplier_abibas]","{'supplier': [{'locale': None, 'scope': None, ...",2022-01-12T12:08:51+00:00,2022-01-12T12:08:51+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

--- products --------------------------------------

,identifier,enabled,family,categories,groups,parent,values,created,updated,associations,quantified_associations
0,1111111171,True,accessories,"[master_accessories_bags, print_accessories, s...",[],None,"{'image': [{'locale': None, 'scope': None, 'da...",2022-01-12T12:08:58+00:00,2022-01-12T12:08:59+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1,13620748,True,led_tvs,"[led_tvs, samsung, tvs_projectors_sales]",[],None,"{'name': [{'locale': None, 'scope': None, 'dat...",2022-01-12T12:08:58+00:00,2022-01-12T12:08:59+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
2,15554974,True,webcams,"[cameras_sales, logitech, webcams]",[],None,"{'maximum_video_resolution': [{'locale': None,...",2022-01-12T12:08:58+00:00,2022-01-12T12:08:59+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
3,12249740,True,scanners,"[avision, print_scan_sales, scanners]",[],None,"{'picture': [{'locale': None, 'scope': None, '...",2022-01-12T12:09:22+00:00,2022-01-12T12:09:22+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
4,1111111130,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_yellow,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-01-12T12:09:24+00:00,2022-01-12T12:09:24+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

### Product Values

Products and product models contain their values as an embedded structure. This structure is now exported separately as this is most important data needed for the clustering.

In [11]:
cases: list[tuple[str, str]] = [
    ("product-models__values", "pim_api_product_model_list", "code"),
    ("products__values", "pim_api_product_list", "identifier"),
]

for name, route_id, id_key in cases:
    res = client.get_list(route_id)
    values = [{"__id__": entry[id_key], **entry["values"]} for entry in res]
    print_and_safe_list(name, values)

--- product-models__values --------------------------------------

,__id__,supplier,wash_temperature,collection,price,name,erp_name,description,color,variation_name,image,material,brand,meta_title,care_instructions,size,variation_image,composition
0,amor,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '800'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Heri...","[{'locale': 'en_US', 'scope': None, 'data': 'A...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,brooksblue,NaN,NaN,"[{'locale': None, 'scope': None, 'data': ['sum...",NaN,"[{'locale': None, 'scope': None, 'data': 'Broo...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'blue'}]","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,brookspink,NaN,NaN,"[{'locale': None, 'scope': None, 'data': ['sum...",NaN,"[{'locale': None, 'scope': None, 'data': 'Broo...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'pink'}]","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,caelus,"[{'locale': None, 'scope': None, 'data': 'mong...","[{'locale': None, 'scope': None, 'data': '600'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Tuxe...","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,climbingshoe,"[{'locale': None, 'scope': None, 'data': 'abib...",NaN,"[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'clim...","[{'locale': 'en_US', 'scope': None, 'data': 'C...",NaN,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'b/0/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

--- products__values --------------------------------------

,__id__,image,ean,name,weight,display_diagonal,description,release_date,maximum_video_resolution,total_megapixels,...,power_requirements,eu_shoes_size,maximum_frame_rate,image_stabilizer,brand,material,meta_title,composition,care_instructions,main_color
0,1111111171,"[{'locale': None, 'scope': None, 'data': 'f/e/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Bag'}]","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13620748,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Sams...",NaN,"[{'locale': None, 'scope': None, 'data': {'amo...","[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15554974,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Logi...",NaN,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...","[{'locale': None, 'scope': None, 'data': '640_...","[{'locale': None, 'scope': None, 'data': '5'}]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12249740,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Avis...",NaN,NaN,"[{'locale': 'de_DE', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1111111130,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Measurement Families

Akeneo changed the handling of measurements recently. The measurements families are no longer available as a list like all other data structures. Instead there is a special endpoint that returns all measurement families in a different way.

In [12]:
name = "measurement-family"
res = client.get("pim_api_measurement_family_get")
print_and_safe_list(name, res)

--- measurement-family --------------------------------------

,code,labels,standard_unit_code,units
0,Angle,"{'de_DE': 'Winkel', 'en_US': 'Angle', 'fr_FR':...",RADIAN,"{'RADIAN': {'code': 'RADIAN', 'labels': {'en_U..."
1,Area,"{'ca_ES': 'Àrea', 'da_DK': 'Areal', 'de_DE': '...",SQUARE_METER,{'SQUARE_MILLIMETER': {'code': 'SQUARE_MILLIME...
2,Binary,"{'ca_ES': 'Binari', 'da_DK': 'Binær', 'de_DE':...",BYTE,"{'CHAR': {'code': 'CHAR', 'labels': {'en_US': ..."
3,Brightness,"{'de_DE': 'Helligkeit', 'en_US': 'Brightness',...",LUMEN,"{'LUMEN': {'code': 'LUMEN', 'labels': {'de_DE'..."
4,Capacitance,"{'de_DE': 'Elektrische Kapazität', 'en_US': 'C...",FARAD,"{'ATTOFARAD': {'code': 'ATTOFARAD', 'labels': ..."