In [1]:
import pandas as pd
import importlib

import akeneo

In [2]:
importlib.reload(akeneo)
connector, client = akeneo.create_from_env()

In [3]:
prods = connector.get_products()
pd.DataFrame(akeneo.Product.to_products_values(prods))

,image,ean,name,weight,display_diagonal,description,release_date,maximum_video_resolution,total_megapixels,picture,...,power_requirements,eu_shoes_size,maximum_frame_rate,image_stabilizer,brand,material,meta_title,composition,care_instructions,main_color
0,f/e/9/6/fe960148cdaa746093eb734cd82a36ffe9b6ff...,1234567890183,Bag,500.0000,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Samsung UE40ES5500PXZT LED TV,NaN,40.0,"Samsung UE40ES5500PXZT. HD type: Full HD, Disp...",2012-03-29 00:00:00+00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Logitech C170,NaN,NaN,<b>The easy way to start video calling and sen...,2012-09-13 00:00:00+00:00,640_x_480,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Avision AV36,NaN,NaN,<b>Mobile power by USB</b>\nDon’t just haul th...,2012-01-05 00:00:00+00:00,NaN,NaN,c/2/d/f/c2df1e701322f576b6e477653e8db7ebe78ea2...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,1234567890142,Long gray suit jacket and matching pants unstr...,600.0000,NaN,Long gray suit jacket and matching pants unstr...,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,1234567890137,Long gray suit jacket and matching pants unstr...,600.0000,NaN,Long gray suit jacket and matching pants unstr...,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,1234567890138,Long gray suit jacket and matching pants unstr...,900.0000,NaN,Long gray suit jacket and matching pants unstr...,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,1234567890139,Long gray suit jacket and matching pants unstr...,800.0000,NaN,Long gray suit jacket and matching pants unstr...,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,1234567890140,Long gray suit jacket and matching pants unstr...,800.0000,NaN,Long gray suit jacket and matching pants unstr...,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,8/4/f/9/84f9f9f4a41331b349c54d2a67373fa1b7df1d...,1234567890141,Long gray suit jacket and matching pants unstr...,800.0000,NaN,Long gray suit jacket and matching pants unstr...,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = pd.DataFrame(client.get_routes())
df[df["is_list"]].sort_values("path")

,id,path,method,path_vars,is_list
34,pim_api_association_type_list,/api/rest/v1/association-types,GET,[],True
19,pim_api_attribute_group_list,/api/rest/v1/attribute-groups,GET,[],True
9,pim_api_attribute_list,/api/rest/v1/attributes,GET,[],True
14,pim_api_attribute_option_list,/api/rest/v1/attributes/{attributeCode}/options,GET,[attributeCode],True
44,pim_api_category_list,/api/rest/v1/categories,GET,[],True
2,pim_api_channel_list,/api/rest/v1/channels,GET,[],True
7,pim_api_currency_list,/api/rest/v1/currencies,GET,[],True
24,pim_api_family_list,/api/rest/v1/families,GET,[],True
29,pim_api_family_variant_list,/api/rest/v1/families/{familyCode}/variants,GET,[familyCode],True
0,pim_api_locale_list,/api/rest/v1/locales,GET,[],True
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[],True
55,pim_api_media_file_list,/api/rest/v1/media-files,GET,[],True
39,pim_api_product_model_list,/api/rest/v1/product-models,GET,[],True
49,pim_api_product_list,/api/rest/v1/products,GET,[],True

In [5]:
prods = client.get_list("pim_api_product_list")
prods_values = [prod["values"] for prod in prods]
df = pd.DataFrame(prods_values)
df

,image,ean,name,weight,display_diagonal,description,release_date,maximum_video_resolution,total_megapixels,picture,...,power_requirements,eu_shoes_size,maximum_frame_rate,image_stabilizer,brand,material,meta_title,composition,care_instructions,main_color
0,"[{'locale': None, 'scope': None, 'data': 'f/e/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Bag'}]","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Sams...",NaN,"[{'locale': None, 'scope': None, 'data': {'amo...","[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Logi...",NaN,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...","[{'locale': None, 'scope': None, 'data': '640_...","[{'locale': None, 'scope': None, 'data': '5'}]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Avis...",NaN,NaN,"[{'locale': 'de_DE', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'c/2/...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,"[{'locale': None, 'scope': None, 'data': '8/4/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
params = {"locales": "en_US", "scope": "ecommerce", "attributes": "description"}
prods = client.get_list("pim_api_product_list", params=params)
prods_values = [prod["values"] for prod in prods]
df = pd.DataFrame(prods_values)
df

                                            description
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4     [{'locale': 'en_US', 'scope': 'ecommerce', 'da...
...                                                 ...
1234  [{'locale': 'en_US', 'scope': 'ecommerce', 'da...
1235  [{'locale': 'en_US', 'scope': 'ecommerce', 'da...
1236  [{'locale': 'en_US', 'scope': 'ecommerce', 'da...
1237  [{'locale': 'en_US', 'scope': 'ecommerce', 'da...
1238  [{'locale': 'en_US', 'scope': 'ecommerce', 'da...

[1239 rows x 1 columns]

In [7]:
params = {"locales": "en_US", "attributes": "description,ean"}
prods = client.get_list("pim_api_product_list", params=params)
prods_values = [prod["values"] for prod in prods]
df = pd.DataFrame(prods_values)
df

,ean,description
0,"[{'locale': None, 'scope': None, 'data': '1234...",NaN
1,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':..."
2,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':..."
3,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':..."
4,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da..."
...,...,...
1234,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da..."
1235,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da..."
1236,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da..."
1237,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da..."
1238,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da..."

In [8]:
params = {"locales": "en_US", "attributes": "description,ean,brand,collection,display_diagonal,display_color"}
prods = client.get_list("pim_api_product_list", params=params)
prods_values = [prod["values"] for prod in prods]
df = pd.DataFrame(prods_values)
df

,ean,description,display_diagonal,collection,display_color,brand
0,"[{'locale': None, 'scope': None, 'data': '1234...",NaN,NaN,NaN,NaN,NaN
1,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,NaN,NaN
2,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...",NaN,NaN,NaN,NaN
3,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...",NaN,NaN,NaN,NaN
4,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,"[{'locale': None, 'scope': None, 'data': ['win...",NaN,NaN
...,...,...,...,...,...,...
1234,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,"[{'locale': None, 'scope': None, 'data': ['win...",NaN,NaN
1235,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,"[{'locale': None, 'scope': None, 'data': ['win...",NaN,NaN
1236,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,"[{'locale': None, 'scope': None, 'data': ['win...",NaN,NaN
1237,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,"[{'locale': None, 'scope': None, 'data': ['win...",NaN,NaN
1238,"[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,"[{'locale': None, 'scope': None, 'data': ['win...",NaN,NaN