# Akeneo API – Data Structures

In this notebook we use the Akeneo Client, implemented in the last notebook. We now try to query all endpoints, that give us data. For this purpose an Akeneo PIM instance was created with the sample data, provided by Akeneo.

In [1]:
import shutil

from IPython.display import display
import pandas as pd

from src import akeneo, config

Preparing a directory to store the results:

In [2]:
csv_dir = config.dir_data / "akeneo-api"
shutil.rmtree(csv_dir, ignore_errors=True)
csv_dir.mkdir(parents=True, exist_ok=True)

In [3]:
def print_and_safe_data(name: str, data: list[dict]):
    df = pd.DataFrame(data)

    print(f"--- {name} --------------------------")
    display(df)
    
    df.to_csv(csv_dir / f"{name}.csv", index=False)

Get all routes:

In [4]:
client = akeneo.create_client_from_env()

In [5]:
routes = client.get_routes()
print_and_safe_data("routes", routes)

--- routes --------------------------

,id,path,method,path_vars
0,pim_api_locale_list,/api/rest/v1/locales,GET,[]
1,pim_api_locale_get,/api/rest/v1/locales/{code},GET,[code]
2,pim_api_channel_list,/api/rest/v1/channels,GET,[]
3,pim_api_channel_get,/api/rest/v1/channels/{code},GET,[code]
4,pim_api_channel_create,/api/rest/v1/channels,POST,[]
...,...,...,...,...
58,pim_api_media_file_create,/api/rest/v1/media-files,POST,[]
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[]
60,legacy_pim_api_measure_family_get,/api/rest/v1/measure-families/{code},GET,[code]
61,pim_api_measurement_family_get,/api/rest/v1/measurement-families,GET,[]
62,pim_api_measurement_family_create_or_update,/api/rest/v1/measurement-families,PATCH,[]

Filter routes for endpoints that give us data:

In [6]:
routes_df = pd.DataFrame(routes)
routes_df[
    (routes_df["method"] == "GET") &
    (routes_df["path_vars"].isin([[]]) | routes_df["id"].str.endswith("_list"))
].sort_values("path")

,id,path,method,path_vars
34,pim_api_association_type_list,/api/rest/v1/association-types,GET,[]
19,pim_api_attribute_group_list,/api/rest/v1/attribute-groups,GET,[]
9,pim_api_attribute_list,/api/rest/v1/attributes,GET,[]
14,pim_api_attribute_option_list,/api/rest/v1/attributes/{attributeCode}/options,GET,[attributeCode]
44,pim_api_category_list,/api/rest/v1/categories,GET,[]
2,pim_api_channel_list,/api/rest/v1/channels,GET,[]
7,pim_api_currency_list,/api/rest/v1/currencies,GET,[]
24,pim_api_family_list,/api/rest/v1/families,GET,[]
29,pim_api_family_variant_list,/api/rest/v1/families/{familyCode}/variants,GET,[familyCode]
0,pim_api_locale_list,/api/rest/v1/locales,GET,[]
59,legacy_pim_api_measure_family_list,/api/rest/v1/measure-families,GET,[]
61,pim_api_measurement_family_get,/api/rest/v1/measurement-families,GET,[]
55,pim_api_media_file_list,/api/rest/v1/media-files,GET,[]
39,pim_api_product_model_list,/api/rest/v1/product-models,GET,[]
49,pim_api_product_list,/api/rest/v1/products,GET,[]

Query all these endpoints, print and safe the result to csv files:

In [7]:
list_routes = routes_df[
    (routes_df["method"] == "GET") & routes_df["path_vars"].isin([[]])
].sort_values("path")

for _, id_, path in list_routes[["id", "path"]].itertuples():
    route_id = str(id_)
    name = str(path).split("/")[-1]

    entries: list[dict] = client.request(route_id)
    print_and_safe_data(name, entries)

    # print the attribute options of the first three simple select attributes
    if route_id == "pim_api_attribute_list":
        num_found = 0
        for attr in entries:
            if attr["type"] == "pim_catalog_simpleselect":
                attr_code = attr["code"]
                attr_opts = client.request(
                    "pim_api_attribute_option_list", {"attributeCode": attr_code}
                )
                print_and_safe_data(f"attribute-options__{attr_code}", attr_opts)
                num_found += 1
            if num_found >= 3:
                break
        continue

    # print the family variants of the first three families
    if route_id == "pim_api_family_list":
        num_found = 0
        for family in entries:
            fam_code = family["code"]
            fam_vars = client.request(
                "pim_api_family_variant_list", {"familyCode": fam_code}
            )
            if fam_vars:
                print_and_safe_data(f"family-variants__{fam_code}", fam_vars)
                num_found += 1
            if num_found >= 3:
                break
        continue

    if route_id in ["pim_api_product_model_list", "pim_api_product_list"]:
        values = [entry["values"] for entry in entries]
        print_and_safe_data(f"{name}__values", values)

--- association-types --------------------------

,code,labels,is_two_way,is_quantified
0,PACK,"{'de_DE': 'Pack', 'en_US': 'Pack', 'fr_FR': 'P...",False,False
1,SUBSTITUTION,"{'de_DE': 'Ersatz', 'en_US': 'Substitution', '...",False,False
2,UPSELL,"{'en_US': 'Upsell', 'fr_FR': 'Vente incitative'}",False,False
3,X_SELL,"{'en_US': 'Cross sell', 'fr_FR': 'Vente croisée'}",False,False

--- attribute-groups --------------------------

,code,sort_order,attributes,labels
0,color,8,"[main_color, secondary_color]","{'en_US': 'Color', 'fr_FR': 'Couleur', 'de_DE'..."
1,design,3,[tshirt_style],"{'en_US': 'Design', 'fr_FR': 'Style', 'de_DE':..."
2,ecommerce,6,"[meta_title, meta_description, keywords]","{'en_US': 'Ecommerce', 'fr_FR': 'Ecommerce', '..."
3,erp,1,"[sku, price, erp_name, ean, supplier]","{'en_US': 'ERP', 'fr_FR': 'ERP', 'de_DE': 'ERP'}"
4,manufacturing,6,"[container_material, tshirt_materials]","{'en_US': 'Manufacturing', 'fr_FR': 'Fabricati..."
5,marketing,0,"[name, description, response_time, release_dat...","{'en_US': 'Marketing', 'fr_FR': 'Marketing', '..."
6,medias,9,"[picture, pdf_description, image, notice, vari...","{'en_US': 'Media', 'fr_FR': 'Media', 'de_DE': ..."
7,other,10,[],"{'en_US': 'Other', 'fr_FR': 'Autre', 'de_DE': ..."
8,product,4,"[composition, wash_temperature, care_instructi...","{'en_US': 'Product', 'fr_FR': 'Produit', 'de_D..."
9,size,8,[clothing_size],"{'en_US': 'Size', 'fr_FR': 'Taille', 'de_DE': ..."
10,technical,2,"[weight, maximum_scan_size, color_scanning, po...","{'en_US': 'Technical', 'fr_FR': 'Technique', '..."

--- attributes --------------------------

,code,type,group,unique,useable_as_grid_filter,allowed_extensions,metric_family,default_metric_unit,reference_data_name,available_locales,...,date_max,max_file_size,minimum_input_length,sort_order,localizable,scopable,labels,auto_option_sorting,default_value,group_labels
0,auto_exposure,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,39,False,False,"{'de_DE': 'Auto exposure', 'en_US': 'Auto expo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
1,auto_focus_assist_beam,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,34,False,False,"{'de_DE': 'Auto focus beam', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
2,auto_focus_lock,pim_catalog_boolean,technical,False,True,[],None,None,None,[],...,None,None,None,33,False,False,"{'de_DE': 'Auto focus lock', 'en_US': 'Auto fo...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
3,auto_focus_modes,pim_catalog_text,technical,False,True,[],None,None,None,[],...,None,None,None,31,True,False,"{'de_DE': 'Auto focus modes', 'en_US': 'Auto f...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
4,auto_focus_points,pim_catalog_number,technical,False,True,[],None,None,None,[],...,None,None,None,32,False,False,"{'de_DE': 'Auto focus points', 'en_US': 'Auto ...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,variation_image,pim_catalog_image,medias,False,True,"[png, jpeg, jpg]",None,None,None,[],...,None,None,None,20,False,False,"{'de_DE': 'Variant bild', 'en_US': 'Variant pi...",None,None,"{'en_US': 'Media', 'fr_FR': 'Media', 'de_DE': ..."
73,variation_name,pim_catalog_text,marketing,False,True,[],None,None,None,[],...,None,None,None,4,True,False,"{'de_DE': 'Variant Name', 'en_US': 'Variant Na...",None,None,"{'en_US': 'Marketing', 'fr_FR': 'Marketing', '..."
74,viewing_area,pim_catalog_metric,technical,False,True,[],Length,MILLIMETER,None,[],...,None,None,None,20,False,False,"{'de_DE': 'Effektive Bildfläche', 'en_US': 'Ef...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."
75,wash_temperature,pim_catalog_simpleselect,product,False,True,[],None,None,None,[],...,None,None,None,6,False,False,"{'de_DE': 'Wash temperature', 'en_US': 'Wash t...",None,None,"{'en_US': 'Product', 'fr_FR': 'Produit', 'de_D..."
76,weight,pim_catalog_metric,technical,False,True,[],Weight,KILOGRAM,None,[],...,None,None,None,1,False,False,"{'de_DE': 'Gewicht', 'en_US': 'Weight', 'fr_FR...",None,None,"{'en_US': 'Technical', 'fr_FR': 'Technique', '..."

--- attribute-options__brand --------------------------

     code attribute  sort_order               labels
0  akeneo     brand           1  {'en_US': 'Akeneo'}

--- attribute-options__camera_brand --------------------------

,code,attribute,sort_order,labels
0,canon_brand,camera_brand,1,"{'de_DE': 'Canon', 'en_US': 'Canon', 'fr_FR': ..."
1,nikon_brand,camera_brand,2,"{'de_DE': 'Nikon', 'en_US': 'Nikon', 'fr_FR': ..."

--- attribute-options__camera_type --------------------------

,code,attribute,sort_order,labels
0,bridge,camera_type,1,"{'de_DE': 'Bridge', 'en_US': 'Bridge', 'fr_FR'..."
1,compact,camera_type,2,"{'de_DE': 'Compact', 'en_US': 'Compact', 'fr_F..."
2,milc,camera_type,3,"{'de_DE': 'MILC', 'en_US': 'MILC', 'fr_FR': 'M..."
3,milc_body,camera_type,4,"{'de_DE': 'MILC Body', 'en_US': 'MILC Body', '..."
4,slr_body,camera_type,5,"{'de_DE': 'SLR Body', 'en_US': 'SLR Body', 'fr..."
5,slr_kit,camera_type,6,"{'de_DE': 'SLR Kit', 'en_US': 'SLR Kit', 'fr_F..."

--- categories --------------------------

,code,parent,labels
0,master,None,"{'en_US': 'Master catalog', 'de_DE': 'Hauptkat..."
1,tvs_projectors,master,"{'en_US': 'TVs and projectors', 'de_DE': 'TVs ..."
2,pc_monitors,tvs_projectors,"{'en_US': 'PC Monitors', 'de_DE': 'PC Monitore..."
3,led_tvs,tvs_projectors,"{'en_US': 'LED TVs', 'de_DE': 'TVs LED', 'fr_F..."
4,cameras,master,"{'en_US': 'Cameras', 'de_DE': 'Cameras', 'fr_F..."
...,...,...,...
163,suppliers,None,"{'en_US': 'Suppliers', 'de_DE': 'Suppliers', '..."
164,supplier_mongo,suppliers,"{'en_US': 'Mongo', 'de_DE': 'Mongo', 'fr_FR': ..."
165,supplier_zaro,suppliers,"{'en_US': 'Zaro', 'de_DE': 'Zaro', 'fr_FR': 'Z..."
166,supplier_the_tootles,suppliers,"{'en_US': 'The Tootles', 'de_DE': 'The Tootles..."
167,supplier_abibas,suppliers,"{'en_US': 'Abibas', 'de_DE': 'Abibas', 'fr_FR'..."

--- channels --------------------------

,code,currencies,locales,category_tree,conversion_units,labels
0,ecommerce,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Ecommerce', 'de_DE': 'Ecommerce', '..."
1,mobile,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Mobile', 'de_DE': 'Mobil', 'fr_FR':..."
2,print,"[USD, EUR]","[de_DE, en_US, fr_FR]",master,{},"{'en_US': 'Print', 'de_DE': 'Drucken', 'fr_FR'..."

--- currencies --------------------------

    code  enabled
0    ADP    False
1    AED    False
2    AFA    False
3    AFN    False
4    ALK    False
..   ...      ...
289  ZRN    False
290  ZRZ    False
291  ZWD    False
292  ZWL    False
293  ZWR    False

[294 rows x 2 columns]

--- families --------------------------

,code,attributes,attribute_as_label,attribute_as_image,attribute_requirements,labels
0,accessories,"[brand, collection, color, composition, descri...",name,image,"{'ecommerce': ['collection', 'description', 'e...","{'en_US': 'Accessories', 'fr_FR': 'Accessories..."
1,camcorders,"[description, image_stabilizer, name, optical_...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Camcorders', 'fr_FR': 'Caméscopes n..."
2,clothing,"[brand, care_instructions, collection, color, ...",variation_name,variation_image,"{'ecommerce': ['collection', 'color', 'descrip...","{'en_US': 'Clothing', 'fr_FR': 'Clothing', 'de..."
3,digital_cameras,"[auto_exposure, auto_focus_assist_beam, auto_f...",name,picture,"{'ecommerce': ['auto_exposure', 'auto_focus_as...","{'en_US': 'Digital cameras', 'fr_FR': 'Caméras..."
4,headphones,"[description, headphone_connectivity, name, pi...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Headphones', 'fr_FR': 'Casques audi..."
5,laser_led_printers,"[description, maximum_print_size, name, pictur...",name,picture,"{'ecommerce': ['description', 'maximum_print_s...","{'en_US': 'Laser and LED printers', 'fr_FR': '..."
6,led_tvs,"[description, display_diagonal, name, picture,...",name,picture,"{'ecommerce': ['description', 'display_diagona...","{'en_US': 'LED TVs', 'fr_FR': 'TVs LED', 'de_D..."
7,loudspeakers,"[description, name, picture, power_requirement...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Loudspeakers', 'fr_FR': 'Hauts-parl..."
8,mp3_players,"[description, name, picture, power_requirement...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'MP3 players', 'fr_FR': 'Lecteurs et..."
9,mugs,"[container_material, description, main_color, ...",name,picture,"{'ecommerce': ['container_material', 'descript...","{'en_US': 'Mugs', 'fr_FR': 'Chopes/Mugs', 'de_..."
10,multifunctionals,"[color_scanning, description, maximum_print_si...",name,picture,"{'ecommerce': ['color_scanning', 'description'...","{'en_US': 'Multifunctionals', 'fr_FR': 'Multif..."
11,pc_monitors,"[description, display_color, display_diagonal,...",name,picture,"{'ecommerce': ['description', 'display_diagona...","{'en_US': 'PC Monitors', 'fr_FR': 'Moniteurs',..."
12,scanners,"[color_scanning, description, maximum_scan_siz...",name,picture,"{'ecommerce': ['color_scanning', 'description'...","{'en_US': 'Scanners', 'fr_FR': 'Scanners', 'de..."
13,shoes,"[brand, collection, color, composition, descri...",name,image,"{'ecommerce': ['collection', 'description', 'e...","{'en_US': 'Shoes', 'fr_FR': 'Shoes', 'de_DE': ..."
14,tablets,"[description, name, picture, power_requirement...",name,picture,"{'ecommerce': ['description', 'name', 'price',...","{'en_US': 'Tablets', 'fr_FR': 'Tablettes', 'de..."
15,tshirts,"[clothing_size, description, main_color, name,...",name,picture,"{'ecommerce': ['clothing_size', 'description',...","{'en_US': 'T-shirts', 'fr_FR': 'T-shirts', 'de..."
16,webcams,"[description, maximum_frame_rate, maximum_vide...",name,picture,"{'ecommerce': ['description', 'maximum_video_r...","{'en_US': 'Webcams', 'fr_FR': 'Webcams', 'de_D..."

--- family-variants__accessories --------------------------

,code,labels,variant_attribute_sets
0,accessories_size,"{'de_DE': 'Accessories by size', 'en_US': 'Acc...","[{'level': 1, 'axes': ['size'], 'attributes': ..."

--- family-variants__clothing --------------------------

,code,labels,variant_attribute_sets
0,clothing_color,"{'de_DE': 'Kleidung nach Farbe', 'en_US': 'Clo...","[{'level': 1, 'axes': ['color'], 'attributes':..."
1,clothing_color_size,"{'de_DE': 'Kleidung nach Farbe und Größe', 'en...","[{'level': 1, 'axes': ['color'], 'attributes':..."
2,clothing_colorsize,"{'de_DE': 'Kleidung nach Farbe/Größe', 'en_US'...","[{'level': 1, 'axes': ['color', 'size'], 'attr..."
3,clothing_material_size,"{'de_DE': 'Clothing by material and size', 'en...","[{'level': 1, 'axes': ['material'], 'attribute..."
4,clothing_size,"{'de_DE': 'Kleidung nach Größe', 'en_US': 'Clo...","[{'level': 1, 'axes': ['size'], 'attributes': ..."

--- family-variants__led_tvs --------------------------

,code,labels,variant_attribute_sets
0,tv,"{'de_DE': 'LED TV', 'en_US': 'LED TV', 'fr_FR'...","[{'level': 1, 'axes': ['display_diagonal'], 'a..."

--- locales --------------------------

      code  enabled
0    af_ZA    False
1    am_ET    False
2    ar_AE    False
3    ar_BH    False
4    ar_DZ    False
..     ...      ...
205  zh_HK    False
206  zh_MO    False
207  zh_SG    False
208  zh_TW    False
209  zu_ZA    False

[210 rows x 2 columns]

--- measure-families --------------------------

,code,standard,units
0,Angle,RADIAN,"[{'code': 'RADIAN', 'convert': {'mul': '1'}, '..."
1,Area,SQUARE_METER,"[{'code': 'SQUARE_MILLIMETER', 'convert': {'mu..."
2,Binary,BYTE,"[{'code': 'CHAR', 'convert': {'mul': '8'}, 'sy..."
3,Brightness,LUMEN,"[{'code': 'LUMEN', 'convert': {'mul': '1'}, 's..."
4,Capacitance,FARAD,"[{'code': 'ATTOFARAD', 'convert': {'div': '100..."
5,CaseBox,PIECE,"[{'code': 'PIECE', 'convert': {'mul': '1'}, 's..."
6,Decibel,DECIBEL,"[{'code': 'DECIBEL', 'convert': {'mul': '1'}, ..."
7,Duration,SECOND,"[{'code': 'MILLISECOND', 'convert': {'mul': '0..."
8,ElectricCharge,AMPEREHOUR,"[{'code': 'MILLIAMPEREHOUR', 'convert': {'mul'..."
9,Energy,JOULE,"[{'code': 'JOULE', 'convert': {'mul': '1'}, 's..."
10,Force,NEWTON,"[{'code': 'MILLINEWTON', 'convert': {'mul': '0..."
11,Frequency,HERTZ,"[{'code': 'HERTZ', 'convert': {'mul': '1'}, 's..."
12,Intensity,AMPERE,"[{'code': 'MILLIAMPERE', 'convert': {'mul': '0..."
13,Length,METER,"[{'code': 'MICROMETER', 'convert': {'mul': '0...."
14,Power,WATT,"[{'code': 'WATT', 'convert': {'mul': '1'}, 'sy..."
15,Pressure,BAR,"[{'code': 'CENTIBAR', 'convert': {'mul': '0.01..."
16,Resistance,OHM,"[{'code': 'MILLIOHM', 'convert': {'mul': '0.00..."
17,Speed,METER_PER_SECOND,"[{'code': 'METER_PER_SECOND', 'convert': {'mul..."
18,Temperature,KELVIN,"[{'code': 'CELSIUS', 'convert': {'add': '273.1..."
19,Voltage,VOLT,"[{'code': 'MILLIVOLT', 'convert': {'mul': '0.0..."
20,Volume,CUBIC_METER,"[{'code': 'MICROLITER', 'convert': {'mul': '0...."
21,VolumeFlow,CUBIC_METER_PER_SECOND,"[{'code': 'CUBIC_METER_PER_SECOND', 'convert':..."
22,Weight,KILOGRAM,"[{'code': 'MICROGRAM', 'convert': {'mul': '0.0..."

--- measurement-families --------------------------

,code,labels,standard_unit_code,units
0,Angle,"{'de_DE': 'Winkel', 'en_US': 'Angle', 'fr_FR':...",RADIAN,"{'RADIAN': {'code': 'RADIAN', 'labels': {'en_U..."
1,Area,"{'ca_ES': 'Àrea', 'da_DK': 'Areal', 'de_DE': '...",SQUARE_METER,{'SQUARE_MILLIMETER': {'code': 'SQUARE_MILLIME...
2,Binary,"{'ca_ES': 'Binari', 'da_DK': 'Binær', 'de_DE':...",BYTE,"{'CHAR': {'code': 'CHAR', 'labels': {'en_US': ..."
3,Brightness,"{'de_DE': 'Helligkeit', 'en_US': 'Brightness',...",LUMEN,"{'LUMEN': {'code': 'LUMEN', 'labels': {'de_DE'..."
4,Capacitance,"{'de_DE': 'Elektrische Kapazität', 'en_US': 'C...",FARAD,"{'ATTOFARAD': {'code': 'ATTOFARAD', 'labels': ..."
5,CaseBox,"{'ca_ES': 'Embalatge', 'da_DK': 'Emballage', '...",PIECE,"{'PIECE': {'code': 'PIECE', 'labels': {'ca_ES'..."
6,Decibel,"{'ca_ES': 'Decibel', 'da_DK': 'Decibel', 'de_D...",DECIBEL,"{'DECIBEL': {'code': 'DECIBEL', 'labels': {'ca..."
7,Duration,"{'ca_ES': 'Durada', 'da_DK': 'Varighed', 'de_D...",SECOND,"{'MILLISECOND': {'code': 'MILLISECOND', 'label..."
8,ElectricCharge,"{'ca_ES': 'Càrrega elèctrica', 'da_DK': 'Elekt...",AMPEREHOUR,{'MILLIAMPEREHOUR': {'code': 'MILLIAMPEREHOUR'...
9,Energy,"{'ca_ES': 'Energia', 'da_DK': 'Energi', 'de_DE...",JOULE,"{'JOULE': {'code': 'JOULE', 'labels': {'de_DE'..."
10,Force,"{'de_DE': 'Kraft', 'en_US': 'Force', 'fr_FR': ...",NEWTON,"{'MILLINEWTON': {'code': 'MILLINEWTON', 'label..."
11,Frequency,"{'ca_ES': 'Freqüència', 'da_DK': 'Frekvens', '...",HERTZ,"{'HERTZ': {'code': 'HERTZ', 'labels': {'ca_ES'..."
12,Intensity,"{'ca_ES': 'Intensitat', 'da_DK': 'Intensitet',...",AMPERE,"{'MILLIAMPERE': {'code': 'MILLIAMPERE', 'label..."
13,Length,"{'ca_ES': 'Longitud', 'da_DK': 'Længde', 'de_D...",METER,"{'MICROMETER': {'code': 'MICROMETER', 'labels'..."
14,Power,"{'ca_ES': 'Potència', 'da_DK': 'Effekt', 'de_D...",WATT,"{'WATT': {'code': 'WATT', 'labels': {'ca_ES': ..."
15,Pressure,"{'ca_ES': 'Pressió', 'da_DK': 'Tryk', 'de_DE':...",BAR,"{'CENTIBAR': {'code': 'CENTIBAR', 'labels': {'..."
16,Resistance,"{'ca_ES': 'Resistència', 'da_DK': 'Modstand', ...",OHM,"{'MILLIOHM': {'code': 'MILLIOHM', 'labels': {'..."
17,Speed,"{'ca_ES': 'Velocitat', 'da_DK': 'Hastighed', '...",METER_PER_SECOND,{'METER_PER_SECOND': {'code': 'METER_PER_SECON...
18,Temperature,"{'ca_ES': 'Temperatura', 'da_DK': 'Temperatur'...",KELVIN,"{'CELSIUS': {'code': 'CELSIUS', 'labels': {'ca..."
19,Voltage,"{'ca_ES': 'Voltatge', 'da_DK': 'Spænding', 'de...",VOLT,"{'MILLIVOLT': {'code': 'MILLIVOLT', 'labels': ..."
20,Volume,"{'ca_ES': 'Volum', 'da_DK': 'Volume', 'de_DE':...",CUBIC_METER,"{'MICROLITER': {'code': 'MICROLITER', 'labels'..."
21,VolumeFlow,"{'de_DE': 'Volumenstrom', 'en_US': 'Volume flo...",CUBIC_METER_PER_SECOND,{'CUBIC_METER_PER_SECOND': {'code': 'CUBIC_MET...
22,Weight,"{'ca_ES': 'Pes', 'da_DK': 'Vægt', 'de_DE': 'Ge...",KILOGRAM,"{'MICROGRAM': {'code': 'MICROGRAM', 'labels': ..."

--- media-files --------------------------

,code,original_filename,mime_type,size,extension
0,7/5/9/8/7598f5386f6e62ea159ae9fd812c942bb0552b...,apollon.jpg,image/jpeg,6144,jpg
1,a/8/3/9/a83927e60d0e6db403a0a85a7379cac33a3f14...,artemis.jpg,image/jpeg,5013,jpg
2,2/b/7/1/2b71506cef258edb677d33b4f7d5d3c8ae2449...,athena.jpg,image/jpeg,3069,jpg
3,0/9/a/3/09a3b5b4fd8a3eaf2bff9a312dfa44bfbebcd4...,bacchus.jpg,image/jpeg,8918,jpg
4,d/4/b/1/d4b1377d5ef95f666aced080548feb4afec688...,climbingshoe.jpg,image/jpeg,220576,jpg
...,...,...,...,...,...
141,a/7/f/0/a7f0e76fe12db6c7b067ced4be5eaf524cd148...,running-shoe-371624_960_720-pink.jpg,image/jpeg,136338,jpg
142,6/4/0/4/64046bfd7889311b18f5f67bdcfb86d407a7cb...,magento.png,image/png,6800,png
143,8/3/b/f/83bf4840ee930f8cff4fd294461540024a608d...,sap.png,image/png,2464,png
144,c/3/9/1/c3915f64065b340726314d55d5afd0b4b0b498...,alkemics.png,image/png,1349,png
145,6/9/2/d/692d7dad256a75ed1a9e9942c6042c67eab99a...,translations_com.png,image/png,2947,png

--- product-models --------------------------

,code,family,family_variant,parent,categories,values,created,updated,associations,quantified_associations
0,amor,clothing,clothing_colorsize,None,"[master_men_blazers, supplier_zaro]","{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1,brooksblue,shoes,shoes_size,None,[master_men_shoes],"{'color': [{'locale': None, 'scope': None, 'da...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
2,brookspink,shoes,shoes_size,None,[master_women_shoes],"{'color': [{'locale': None, 'scope': None, 'da...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
3,caelus,clothing,clothing_color_size,None,"[master_men_blazers_deals, supplier_mongo]","{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
4,climbingshoe,shoes,shoes_size,None,"[master_men_shoes, print_shoes, supplier_abibas]","{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
...,...,...,...,...,...,...,...,...,...,...
76,model-tshirt-divided-blue,clothing,clothing_color_size,model-tshirt-divided,[tshirts],"{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:26+00:00,2022-03-20T14:06:26+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
77,bacchus,clothing,clothing_color_size,None,"[master_men_pants_shorts, supplier_zaro]","{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
78,model-tshirt-divided-grey,clothing,clothing_color_size,model-tshirt-divided,[tshirts],"{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:26+00:00,2022-03-20T14:06:26+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
79,model-tshirt-divided-red,clothing,clothing_color_size,model-tshirt-divided,[tshirts],"{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:26+00:00,2022-03-20T14:06:26+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
80,brogueshoe,shoes,shoes_size,None,"[master_men_shoes, supplier_abibas]","{'supplier': [{'locale': None, 'scope': None, ...",2022-03-20T14:06:23+00:00,2022-03-20T14:06:23+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

--- product-models__values --------------------------

,supplier,wash_temperature,collection,price,name,erp_name,description,color,variation_name,image,material,brand,meta_title,care_instructions,size,variation_image,composition
0,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '800'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Heri...","[{'locale': 'en_US', 'scope': None, 'data': 'A...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"[{'locale': None, 'scope': None, 'data': ['sum...",NaN,"[{'locale': None, 'scope': None, 'data': 'Broo...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'blue'}]","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"[{'locale': None, 'scope': None, 'data': ['sum...",NaN,"[{'locale': None, 'scope': None, 'data': 'Broo...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'pink'}]","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'locale': None, 'scope': None, 'data': 'mong...","[{'locale': None, 'scope': None, 'data': '600'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Tuxe...","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'locale': None, 'scope': None, 'data': 'abib...",NaN,"[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'clim...","[{'locale': 'en_US', 'scope': None, 'data': 'C...",NaN,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'd/4/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '400'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Cott...","[{'locale': 'en_US', 'scope': None, 'data': 'T...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'blue'}]","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': None, 'scope': None, 'data': '9/5/...","[{'locale': None, 'scope': None, 'data': 'poly...","[{'locale': None, 'scope': None, 'data': 'aken...","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': None, 'scope': None, 'data': 'Mach...",NaN,"[{'locale': None, 'scope': None, 'data': 'd/0/...","[{'locale': None, 'scope': None, 'data': '57% ..."
77,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '600'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Slig...","[{'locale': 'en_US', 'scope': None, 'data': 'B...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,"[{'locale': None, 'scope': None, 'data': '0/9/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '400'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Cott...","[{'locale': 'en_US', 'scope': None, 'data': 'T...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'grey'}]","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': None, 'scope': None, 'data': '9/5/...","[{'locale': None, 'scope': None, 'data': 'cott...","[{'locale': None, 'scope': None, 'data': 'aken...","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': None, 'scope': None, 'data': 'Mach...",NaN,"[{'locale': None, 'scope': None, 'data': '8/f/...","[{'locale': None, 'scope': None, 'data': '100%..."
79,"[{'locale': None, 'scope': None, 'data': 'zaro'}]","[{'locale': None, 'scope': None, 'data': '400'}]","[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'Cott...","[{'locale': 'en_US', 'scope': None, 'data': 'T...","[{'locale': 'en_US', 'scope': 'ecommerce', 'da...","[{'locale': None, 'scope': None, 'data': 'red'}]","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': None, 'scope': None, 'data': '9/5/...","[{'locale': None, 'scope': None, 'data': 'cott...","[{'locale': None, 'scope': None, 'data': 'aken...","[{'locale': 'en_US', 'scope': None, 'data': 'C...","[{'locale': None, 'scope': None, 'data': 'Mach...",NaN,"[{'locale': None, 'scope': None, 'data': '6/6/...","[{'locale': None, 'scope': None, 'data': '100%..."
80,"[{'locale': None, 'scope': None, 'data': 'abib...",NaN,"[{'locale': None, 'scope': None, 'data': ['sum...","[{'locale': None, 'scope': None, 'data': [{'am...","[{'locale': None, 'scope': None, 'data': 'brog...","[{'locale': 'en_US', 'scope': None, 'data': 'B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--- products --------------------------

,identifier,enabled,family,categories,groups,parent,values,created,updated,associations,quantified_associations
0,1111111171,True,accessories,"[master_accessories_bags, print_accessories, s...",[],None,"{'image': [{'locale': None, 'scope': None, 'da...",2022-03-20T14:06:30+00:00,2022-03-20T14:06:30+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1,13620748,True,led_tvs,"[led_tvs, samsung, tvs_projectors_sales]",[],None,"{'name': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:30+00:00,2022-03-20T14:06:30+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
2,15554974,True,webcams,"[cameras_sales, logitech, webcams]",[],None,"{'maximum_video_resolution': [{'locale': None,...",2022-03-20T14:06:30+00:00,2022-03-20T14:06:30+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
3,12249740,True,scanners,"[avision, print_scan_sales, scanners]",[],None,"{'picture': [{'locale': None, 'scope': None, '...",2022-03-20T14:06:52+00:00,2022-03-20T14:06:53+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
4,1111111130,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_yellow,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:55+00:00,2022-03-20T14:06:55+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
...,...,...,...,...,...,...,...,...,...,...,...
1234,1111111125,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_pink,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:52+00:00,2022-03-20T14:06:53+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1235,1111111126,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_red,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:52+00:00,2022-03-20T14:06:53+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1236,1111111127,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_red,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:52+00:00,2022-03-20T14:06:53+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1237,1111111128,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_yellow,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:52+00:00,2022-03-20T14:06:53+00:00,"{'PACK': {'products': [], 'product_models': []...",{}
1238,1111111129,True,clothing,"[master_men_blazers_deals, supplier_zaro]",[],apollon_yellow,"{'size': [{'locale': None, 'scope': None, 'dat...",2022-03-20T14:06:52+00:00,2022-03-20T14:06:53+00:00,"{'PACK': {'products': [], 'product_models': []...",{}

--- products__values --------------------------

,image,ean,name,weight,display_diagonal,description,release_date,maximum_video_resolution,total_megapixels,picture,...,power_requirements,eu_shoes_size,maximum_frame_rate,image_stabilizer,brand,material,meta_title,composition,care_instructions,main_color
0,"[{'locale': None, 'scope': None, 'data': '8/f/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Bag'}]","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Sams...",NaN,"[{'locale': None, 'scope': None, 'data': {'amo...","[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Logi...",NaN,NaN,"[{'locale': 'en_US', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...","[{'locale': None, 'scope': None, 'data': '640_...","[{'locale': None, 'scope': None, 'data': '5'}]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,"[{'locale': None, 'scope': None, 'data': 'Avis...",NaN,NaN,"[{'locale': 'de_DE', 'scope': 'print', 'data':...","[{'locale': None, 'scope': 'ecommerce', 'data'...",NaN,NaN,"[{'locale': None, 'scope': None, 'data': '6/b/...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'locale': None, 'scope': None, 'data': '7/5/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,"[{'locale': None, 'scope': None, 'data': '7/5/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,"[{'locale': None, 'scope': None, 'data': '7/5/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,"[{'locale': None, 'scope': None, 'data': '7/5/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,"[{'locale': None, 'scope': None, 'data': '7/5/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,"[{'locale': None, 'scope': None, 'data': '7/5/...","[{'locale': None, 'scope': None, 'data': '1234...","[{'locale': None, 'scope': None, 'data': 'Long...","[{'locale': None, 'scope': None, 'data': {'amo...",NaN,"[{'locale': 'en_US', 'scope': 'ecommerce', 'da...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN